@import "node_modules/bootstrap/scss/bootstrap";

body{
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),url(images/fond.jpeg)no-repeat;
   background-size:cover;
}
footer {
    background-color: rgb(82, 82, 82) ;
    bottom: 0;

}

.card.heroes {
    margin: auto;
    transition: box-shadow 1s;
    animation-name: slide;
    animation-duration: 2s;
}

@keyframes slide {
    from {
       left:-200%;
    }

    to {
        left: 0px;
    }
   

}
.card.heroes:hover {
    box-shadow: 10px 5px 5px rgb(82, 82, 82);
}

.card-text {
    color: white;
}